@CHARSET "UTF-8";

body {
	background-color:#FFEF99;
}
.biggerfont {
	font-size:2em;	
}

dl.menulist {
	margin:0px;	
}

dl.menulist dt {
	font-size:1.2em;
}

dl.menulist * {
	background-color:#999;
	color:#fff;
	margin-bottom:3px;
	margin-left:0px;
	padding:2px;
	padding-left:10px;
	padding-right:10px;
}

dl.menulist * a {
	margin:0px;
	padding:0px;	
}

dl.ratelist dt{
	font-weight:bold;
}
dl.ratelist dd{
	margin-bottom:5px;
}


div.leftmenu, div.rightwrapper, div.topmenu, div.content, .leftbox, .rightbox {
	float:left;
}
.leftmenu, .rightwrapper {
	margin:5px;	
}

.leftbox, .rightbox{
	margin-bottom:10px;
}

.leftbox {
	width:100px;
	clear:left;
	font-weight:bold;
}
.rightbox {
	font-weight:none;
}
.leftboxwide {
	width:150px;
}

.leftboxshort {
	width:auto;
}

div.topmenu {
	margin-bottom:10px;	
}

div.content {
	clear:left;
}

div.topbutton {
	width:100px;
	border:2px solid black;
	background-color:#999;
    text-align:center;
    float:left;
    margin-right:100px;
    border-radius: 0.5em;
    box-shadow: rgba(0,0,0,0.2) 0.5em 0.5em 0.3em;
}

div.topbutton.last{
	margin-right:0px;
}

div.topbutton * {
	color:#fff;
	margin:0px;
	padding:0px;
}

p.spaced {
	margin-top:100px;
	clear:both;
}